<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<title>메인</title>
</head>

<div layout:fragment="content">
	<div id="contents">
		<p id="content-string">소프트웨어 보안은 보안소프트웨어를 뜻하는 것이 아닙니다.<br /><br />소프트웨어 라이프 사이클 전반에 걸쳐 안전한 소프트웨어 개발의 여러 모범사례를
			적용하는 것을 의미합니다.<br /><br /> 보안문제는 특정 보안기능의 문제보다는 안전한 시스템을 구성하는 표준의 문제 때문에 발생할 가능성이 더
			높습니다.<br /><br />그래서 소프트웨어 보안은 전체 개발단계 라이프 사이클의 접근 방식 중 하나가 되어야 합니다.</p>
			<img src="../../img/book.jpg" id="content-img" />
	</div>
</div>

</html>